<div layout="column" ng-cloak>
    <md-content layout-padding layout="column">
        <div flex>
            <form>    
                <div layout="row" layout-xs="column" class="md-inline-form">
                    <div layout-xs="row" flex-offset="5" flex="15" flex-xs="100" flex-offset="10">
                        <md-input-container style="width:100%">
                            <label>Месец</label>
                            <md-select name="typeId" ng-model="selectedMonth">
                                <md-option ng-repeat="month in months" ng-value="month">
                                    {{month.fullName}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout-xs="row" flex="50" flex-xs="100" flex-offset="10">
                        <md-input-container>
                            <md-button ng-if="isAdmin()" layout-align="right" ng-click="printPresentForm()" class="md-raised md-primary">Присъствена Форма</md-button>
                            <md-button ng-if="isUser()" layout-align="right" ng-click="printMonthlySchedule()" class="md-raised md-primary">График</md-button>
                        </md-input-container>
                    </div>
                </div>
            </form>
        </div>
    </md-content>
</div>