<div layout="column" ng-cloak>
     <md-content layout-padding layout="row">
        <div flex="50" flex-xs="100">
            <form name="workingShiftForm" server-validation novalidate>             
                    <md-input-container class="md-block">
                        <label>Име</label>
                        <input  name="name" ng-model="workingShift.name" ng-disabled="workingShift.id" maxlength="50" required>
                        <span ng-message="serverError" class="label label-error">{{serverErrorMessages.name}}</span>
                    </md-input-container> 
                    <md-input-container class="md-block">
                        <label>Код</label>
                        <input  name="code" ng-model="workingShift.code" ng-disabled="workingShift.id" maxlength="50" required>
                        <span ng-message="serverError" class="label label-error">{{serverErrorMessages.code}}</span>
                    </md-input-container> 
                    <md-input-container class="md-block">
                        <label>Описание</label>
                        <input ng-model="campaign.description" name="description">
                    </md-input-container>
                    <div layout="row">
                        <md-input-container flex="25">
                            <label>От</label>
                            <input type="time" name="startTime" ng-change="changeStartTime()" ng-model="workingShift.startTime" required>
                        </md-input-container>
                        <md-input-container flex="25">
                            <label>До</label>
                            <input type="time" name="endTime" ng-change="changeEndTime()" ng-model="workingShift.endTime" required>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex="25">
                            <label>Продълж.</label>
                            <input type="time" name="duration" ng-change="changeDuration()" ng-model="workingShift.duration" required>
                        </md-input-container>
                    </div>
                </div>
            </form>
        </div>
    </md-content>
    <md-content  layout="row">
        <md-button ng-click="submitWorkingShift()" ng-disabled="workingShiftForm.$invalid" class="md-raised md-primary">Запази</md-button>
        <md-button ng-if="workingShift.id" class="md-raised md-primary" ng-click="resetWorkingShiftForm()">Отмени</md-button>
    </md-content>
    <hr/>
    <md-content layout-padding layout="row">
        <div flex="100">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th></th>
                    	<th><label>Име</label></th>
                    	<th><label>Код</label></th>
                        <th><label>От</label></th>
                        <th><label>До</label></th>
                        <th><label>Продължителност</label></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <tr dir-paginate="workingShift in workingShifts | itemsPerPage: workingShiftsPerPage track by $index" current-page="currentPage" pagination-id="workingShift" class="item-row">
                        <td>{{(currentPage - 1) * workingShiftsPerPage + $index + 1}}</td>
                        <td>{{workingShift.name}}</td>
                        <td>{{workingShift.code}}</td>
                        <td>{{workingShift.startTime}}</td>
                        <td>{{workingShift.endTime}}</td>
                        <td>{{workingShift.duration}}</td>
                        <td>
                            <a href="" ng-click="editWorkingShift(workingShift)">
                                <md-icon  class="primary-icon" md-svg-src="images/icons/edit.svg"></md-icon>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div layout="row" layout-align="center center" class="centered-pagination">
                <dir-pagination-controls pagination-id="workingShift" template-url="views/directives/dir-pagination.html"></dir-pagination-controls>
            </div>
        </div>
    </md-content>
</div>