<div layout="column" ng-cloak>
    <md-content layout-padding layout="column">
        <div flex>
            <form>    
                <div layout="row" layout-xs="column" class="md-inline-form">
                    <div layout-xs="row" flex-offset="5" flex="50" flex-xs="100">
                        <md-input-container>
                            <md-datepicker style="width:100%" ng-model="startDate" md-min-date="startMinDate" md-max-date="startMaxDate" ng-change="changeStartDate()"></md-datepicker>
                        </md-input-container>
                        <md-input-container flex-offset="5">
                            <md-datepicker style="width:100%" ng-model="endDate" md-min-date="startDate" md-max-date="startMaxDate" ng-change="changeEndDate()"></md-datepicker>
                        </md-input-container>
                    </div>
                    <div layout-xs="row" flex="20" flex-xs="100">
                        <md-input-container>
                            <md-button layout-align="right" ng-click="getProfitReport()" class="md-raised md-primary">Генерирай</md-button>
                        </md-input-container>
                    </div>
                </div>
            </form>
        </div>
        <div flex>
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>
                        </th>
                        <th>
                            <label>Магазин</label>
                        </th>
                        <th>
                            <label>Приход</label>
                        </th>
                        <th>
                            <label>База</label>
                        </th>
                        <th>
                            <label>ДДС</label>
                        </th> 
                        <th>
                            <label>Разход</label>
                        </th> 
                        <th>
                            <label>Върнато ДДС</label>
                        </th>                     
                        <th>
                            <label>Плосък данък</label>
                        </th>
                        <th>
                            <label>Дивидент</label>
                        </th>
                        <th>
                            <label>Профит</label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-click="expand(report)" expand dir-paginate-start="report in reports | itemsPerPage:reportsPerPage" current-page="currentPage" pagination-id="report">
                        <td>{{(currentPage - 1) * reportsPerPage + $index + 1}}</td>
                        <td>{{report.storeName}}</td>
                        <td>{{report.income}}</td>
                        <td>{{report.base}}</td>
                        <td>{{report.dueVAT}}</td>
                        <td>{{report.expense}}</td>
                        <td>{{report.refundVAT}}</td>
                        <td>{{report.flatTax}}</td>
                        <td>{{report.dividentTax}}</td>
                        <td>{{report.profit}}</td>
                    </tr>
                    <tr dir-paginate-end ng-show="report.expanded" class="sale-details" pagination-id="report">
                        <td colspan="6">
                            <table class="table table-hover table-condensed borderless">
                                <tbody>
                                    <tr ng-repeat="expense in report.expenses">
                                        <td style="width:2%;">{{$index + 1}}</td>
                                        <td style="width:30%;">{{expense.name}}</td>
                                        <td style="width:15%;">{{expense.price}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div layout="row" layout-align="center center" class="centered-pagination">
                <dir-pagination-controls  pagination-id="report" template-url="views/directives/dir-pagination.html"></dir-pagination-controls>
            </div>
        </div>
    </md-content>
</div>