<div layout="column" ng-cloak>
     <md-content layout-padding layout="row" layout-xs="column">
        <div flex-xs="100" flex="50">
            <form name="attributeForm" server-validation novalidate>                
                <md-input-container class="md-block">
                    <label>Име</label>
                    <input ng-model="attribute.name" name="name" required>
                    <span ng-message="serverError" class="label label-error">{{serverErrorMessages.name}}</span>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Тип</label>
                    <md-select name="typeCode" ng-model="attribute.typeCode" ng-disabled="attribute.id" required>
                        <md-option value="" selected></md-option>
                        <md-option ng-repeat="type in types" ng-value="type.code">
                            {{type.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Контекст</label>
                    <md-select name="contextId" ng-model="attribute.contextId" required>
                        <md-option value="" selected></md-option>
                        <md-option ng-repeat="context in contexts" ng-value="context.id">
                            {{context.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <div ng-if="attribute.typeCode == 'ABSOLUTE'" layout="row">
                    <md-input-container>
                        <md-datepicker ng-model="attribute.startDate" md-min-date="startMinDate" md-max-date="startMaxDate" ng-change="changeStartDate()"></md-datepicker>
                    </md-input-container>
                    <md-input-container flex-offset="10">
                        <md-datepicker ng-model="attribute.endDate" md-min-date="endMinDate" md-max-date="startMaxDate" ng-change="changeEndDate()"></md-datepicker>
                    </md-input-container>
                </div>
                <md-input-container  ng-if="attribute.typeCode == 'RELATIVE'" class="md-block" flex="45">
                    <label>Offset (в месеци)</label>
                    <input type="number" min="0" step="1" ng-model="attribute.offset" name="offset" required>
                    <span ng-message="serverError" class="label label-error">{{serverErrorMessages.offset}}</span>
                </md-input-container>
            </form>
        </div>
    </md-content>
    <md-content layout-padding layout="row">
        <md-button ng-disabled="attributeForm.$invalid" ng-click="submitAttribute()" class="md-raised md-primary">Запази</md-button>
        <md-button ng-if="attribute.id" class="md-raised md-primary" ng-click="resetAttributeForm()">Отмени</md-button>
    </md-content>
<!--      <md-content layout-padding layout="row">
        <div layout-xs="row" flex="100" flex-xs="100">
            <md-input-container style="width:200px">
                <label>Име</label>
                <input ng-model="attributeName">
            </md-input-container>  
        </div>
    </md-content> -->
    <md-content layout-padding layout="row" layout-xs="column">
        <div flex="100">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th><label>Име</label></th>
                        <th><label>Тип</label></th>
                        <th><label>Контекст</label></th>
                        <th><label>Период</label></th>
                        <th><label>Offset</label></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <tr dir-paginate="attribute in attributes | filter:(!!attributeName || undefined) && filterByAttributeName() | itemsPerPage: attributesPerPage track by $index" current-page="currentPage" pagination-id="attribute" class="item-row">
                        <td>{{attribute.name}}</td>
                        <td>{{attribute.typeName}}</td>
                        <td>{{attribute.contextName}}</td>
                        <td><span ng-if="attribute.typeCode == 'ABSOLUTE'">{{getDate(attribute.fromTimestamp)}} - {{getDate(attribute.toTimestamp)}}</span></td>
                        <td>{{attribute.offset}}</td>
                        <td>
                            <a href="" ng-click="editAttribute(attribute)">
                                <md-icon class="primary-icon" md-svg-src="images/icons/edit.svg"></md-icon>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div layout="row" layout-align="center center" class="centered-pagination">
                <dir-pagination-controls pagination-id="attribute" template-url="views/directives/dir-pagination.html"></dir-pagination-controls>
            </div>
        </div>
    </md-content>
</div>