<div layout="column" ng-cloak>
    <md-content layout-padding layout="column">
        <div flex>
            <form name="formulaForm" novalidate>
                <div layout="row" class="md-inline-form">
                    <div layout-xs="row" flex="20" flex-xs="100" ng-if="isAdmin() || isManager()">
                        <md-input-container style="width:95%">
                            <label>Магазин</label>
                            <md-select name="selectStore" ng-model="selectedStore.id" ng-change="searchSaleItems()">
                                <md-option value="0" selected>Всички магазини</md-option>
                                <md-option ng-repeat="store in stores" ng-value="store.id">
                                    {{store.city}}, {{store.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row">
                    <md-input-container flex>
                        <label>Формула</label>
                        <input ng-model="formula.expression" name="expression">
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" class="md-inline-form">
                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>            
                                    <a href="" ng-click="addNewVariable()" style="text-decoration:none;">
                                        <md-icon class="primary-icon" md-svg-src="images/icons/add.svg"></md-icon>
                                    </a>
                                </th>
                                <th>
                                    <label>Име</label>
                                </th>
                                <th>
                                    <label>От</label>
                                </th>
                                <th>
                                    <label>До</label>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="variable in formula.variables" class="item-row">
                                <td></td>
                                <td>
                                    <input name="name" ng-model="variable.name" ng-maxlength="30" required>
                                </td>
                                <td>
                                    <md-datepicker style="width:100%" ng-model="variable.startDate" md-min-date="startMinDate" md-max-date="startMaxDate" ng-change="changeStartDate(variable)"></md-datepicker>
                                </td>
                                <td>
                                    <md-datepicker style="width:100%" ng-model="variable.endDate" md-min-date="startDate" md-max-date="startMaxDate" ng-change="changeEndDate(variable)"></md-datepicker>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div layout="row">
                    <md-input-container>
                        <md-button ng-click="calculateFormula()" class="md-raised md-primary">Калкулирай</md-button>
                    </md-input-container>
                </div>
            </form>
        </div>
    </md-content>

    
</div>