<md-dialog flex="60">
  <form name="saleForm" server-validation novalidate ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Продажба</h2>
        <span flex></span>
        <md-button ng-disabled="loading" class="md-icon-button" ng-click="closeModal()">
          <md-icon md-svg-src="images/icons/close.svg" aria-label="Затвори"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
        <md-content layout-padding layout="column">
            <div flex>           
                    <div layout="row">
                        <md-input-container>
                            <label>Плащане</label>
                            <md-select name="selectPayment" ng-model="sale.isCashPayment" required>
                                <md-option ng-repeat="type in [{ name: 'С карта', value: false }, { name: 'В брой', value: true }]" ng-value="type.value">
                                    {{type.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex-offset="5">
                            <label>Код</label>
                            <input name="code" ng-model="code" ng-blur="onChangeDiscountCode()">
                        </md-input-container>
                        <md-input-container>
                            <span ng-message="serverError" class="label label-error">{{serverErrorMessages.code}}</span>
                        </md-input-container>
                        <md-input-container ng-if="discountCode.discountCampaignCode == 'PARTNER'">
                            <span>{{discountCode.discountCampaignName}} {{discountCode.discountValue}}{{discountCode.discountTypeSign}} - {{discountCode.partnerName}} {{discountCode.partnerStoreName}}</span>
                        </md-input-container>
                        <md-input-container ng-if="discountCode.discountCampaignCode == 'LOYAL'">
                            <span>{{discountCode.discountCampaignName}} {{discountCode.discountValue}}{{discountCode.discountTypeSign}} - {{discountCode.loyalCustomerName}}</span>
                        </md-input-container>
                        <md-input-container ng-if="discountCode.discountCampaignCode != 'LOYAL' && discountCode.discountCampaignCode != 'PARTNER'">
                            <span>{{discountCode.discountCampaignName}} {{discountCode.discountValue}}{{discountCode.discountTypeSign}}</span>
                        </md-input-container>
                    </div>   
            </div>
            <div flex>
                <div layout="row">
                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    <label>Модел</label>
                                </th>
                                <th>
                                    <label>Продукт</label>
                                </th>
                                <th>
                                    <label>Цена</label>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>               
                            <tr ng-repeat="stock in sale.selectedStocks track by $index" class="item-row">
                                <td>{{$index + 1}}</td>
                                <td>{{stock.deviceModelName}}</td>
                                <td>{{stock.productCode}} {{stock.productName}}</td>
                                <td>{{stock.productPrice}}</td>
                                <td>
                                    <a href="" ng-click="removeStock($index, stock)">
                                        <md-icon class="primary-icon" md-svg-src="images/icons/close.svg"></md-icon>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>  
                </div> 
                <hr/>
                <div layout="row">  
                    <span>Цена: <b>{{totalSumReport.totalSum}}лв</b></span>
                </div>
                <div layout="row">  
                    <span>Отстъпка: <b>{{totalSumReport.discount}}лв</b></span>
                </div>
                <div layout="row">  
                    <span>Тотал: <b>{{totalSumReport.totalSumAfterDiscount}}лв</b></span>
                </div>
            </div>
        </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-disabled="loading" ng-click="resetSale()" class="md-raised md-primary">Отмени</md-button>
      <span flex></span>
      <md-button ng-disabled="loading" ng-click="closeModal()" class="md-raised md-primary">Продължи</md-button>
      <md-button ng-disabled="saleForm.$invalid || loading" class="md-raised md-primary" ng-click="submitSale()">Потвърди</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>